[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
autopep8 = "*"
dnspython = "*"
pycodestyle = "*"
cloudinary = "*"
flask-mail = "*"
flask-talisman = "*"
flask-seasurf = "*"
flask-paginate = "*"
pep8 = "*"
python-dotenv = "*"
pytest-cov = "==4.0.0"
pytest-xdist = "==3.1.0"
pytest = "==7.2.1"
pytest-flask = "==1.2.0"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
docker-compose = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.8"
